@keyframe move{
	from {left: 0% ; }
	to   {left: 50% ;}
			}
h1 {
			position: relative ;
			animation-name : move ;
			animation-duration : 8s  ;
			animation-fill-mode : forwaods ;
	}
	
h1{
	color : red ;
}